<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Inicio</h1>
        <p th:text="${mensaje}"></p>
        <p th:text="${saludo}"></p>
        <br>

        <div th:if="${estudiantes != null && !estudiantes.empty}">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Identificaci&oacute;n</th>
                        <th>id de casa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="persona : ${estudiantes}">
                        <td th:text="${persona.id}">Mostrar nombre</td>
                        <td th:text="${persona.nombre}">Mostrar nombre</td>
                        <td th:text="${persona.apellido}">mostrar Apellido</td>
                        <td th:text="${persona.identificacion}">mostrar Email</td>
                        <td th:text="${persona.casa_id}">mostrar Telefono</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${estudiantes == null || estudiantes.empty}">
            La lista de estudiantes está vacia
        </div>
    </body>
</html>
